@import url("https://fonts.googleapis.com/css2?family=PT+Sans&display=swap");

body {
  background-color: #0f0e17;
  padding: 10%;
  margin: 0px;
  font-family: "PT Sans", sans-serif;
  line-height: 1.5;
  color: #a7a9be;
}

.center {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
  min-width: 95%;
}
header {
  background-color: #e53170;
  color: #fffffe;
  padding: 5%;
}

header nav ul {
  display: flex;
  justify-content: space-between;
  width: 80%;
}

li {
  list-style: none;
}

header nav a {
  color: #fffffe;
  text-decoration: none;
}
nav a:hover {
  text-decoration: underline;
}

table {
  color: #0f0e17;
}
.favLinks {
  color: #e53170;
}
.favLinks:hover {
  color: red;
}
h1 {
  font-weight: 300;
  font-size: 60px;
  line-height: 1.2;
  margin-bottom: 15px;
}

img {
  height: 300px;
}

.movImg {
  height: 100px;
}
