@import url("https://fonts.googleapis.com/css2?family=PT+Sans&display=swap");

body {
  background-color: #0f0e17;
  padding: 10%;
  margin: 0px;
  font-family: "PT Sans", sans-serif;
  line-height: 1.5;
  color: #a7a9be;
  text-align: justify;
}

header {
  background-color: #e53170;
  color: #fffffe;
  padding: 5%;
}

header nav ul {
  display: flex;
  justify-content: space-between;
  width: 80%;
}

li {
  list-style: none;
}
.flex {
  color: #ffd803;
}

header nav a {
  color: #fffffe;
}
nav a:hover {
  text-decoration: underline;
  color: #a786df;
}

a {
  color: #fffffe;
}
table {
  color: #0f0e17;
}
.favLinks {
  color: #e53170;
}
.favLinks:hover {
  color: red;
}
h1 {
  font-weight: 300;
  font-size: 60px;
  line-height: 1.2;
  margin-bottom: 15px;
}

img {
  height: 300px;
}

.movImg {
  height: 100px;
}
.container1 {
  color: #2b2c34;
}
.box1 {
  background-color: #8bd3dd;
}
.box2 {
  background-color: #001858;
}
.box3 {
  background-color: #f582ae;
}
.box4 {
  background-color: #ff8e3c;
}
.box5 {
  background-color: #004643;
}
.box6 {
  background-color: #6246ea;
}
