@import url("https://fonts.googleapis.com/css2?family=PT+Sans&display=swap");

header {
  background-color: #e53170;
  flex: 0 0 40px;
  color: #fffffe;
  padding: 20px;
}
body {
  background-color: #0f0e17;
  padding: 20;
  margin: 0px;
  font-family: "PT Sans", sans-serif;
  line-height: 1.5;
  color: #a7a9be;
}

table {
  color: #0f0e17;
}
header nav ul {
  display: flex;
  justify-content: space-between;
  width: 80%;
}

header nav a {
  color: #fffffe;
  text-decoration: none;
}
nav a:hover {
  text-decoration: underline;
}
.favBooks {
  color: #e53170;
}
.favBooks:hover {
  color: red;
}
h1 {
  font-weight: 300;
  font-size: 60px;
  line-height: 1.2;
  margin-bottom: 15px;
}

img {
  height: 300px;
}
